modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --port 5000 --hostname 0.0.0.0"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35699
externalPort = 3000

[[ports]]
localPort = 36583
externalPort = 4200

[[ports]]
localPort = 38031
externalPort = 3001

[[ports]]
localPort = 39259
externalPort = 3002

[[ports]]
localPort = 40669
externalPort = 5173

[[ports]]
localPort = 42539
externalPort = 8000

[[ports]]
localPort = 42623
externalPort = 6000

[[ports]]
localPort = 42785
externalPort = 5000

[[ports]]
localPort = 46221
externalPort = 3003

[[ports]]
localPort = 46705
externalPort = 6800

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]
